.aboutSection {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: $black;
  .aboutSection__text {
    width: 40%;
    margin: 0 25px;
    color: $white;
    .aboutSection__text-title {
      font-family: $text-title;
      font-size: 3rem;
      text-transform: uppercase;
    }
    .aboutSection__text-description {
      font-family: $text-general;
      font-weight: 300;
    }
    .aboutSection__text-description--toright {
      text-align: end;
      font-weight: 900;
    }
  }
}
