// Colors
$black: #0c0c0c;
$white: #fff;
$orange: #ef7f1a;
$yellow: #ffc01c;
$blue: #0082f4;
// fonts
$text-links: "Bebas Neue", cursive;
$text-title: "Oswald", sans-serif;
$text-general: "Roboto", sans-serif;
